{% extends "base.html" %}
{% load static %}
{% block content %}

{% if request.user.acc_on is False %}
<div class="row"><div class="col-12 ">
        <h3 style="font-weight:bold;color:red;">Please activate your account first</h3><br/></div></div>

{% else %}
{% for obj in object_list %}
        {% if forloop.first %}

{% if obj.user_profile.user.is_none %}


<a class="text-danger" href="/profile/update-student-profile/{{ obj.id }}"> Please Update Your Profile First</a>
{% else %}
<div class="row"><div class="col-12 ">
        <h3>Welcome to your profile : {{ obj.name }}</h3><br/></div></div>
<div class="row"><div class="col-6 ">
      <a href="{% url 'bank:invest' bankaccount.id %}"> Total Investment: &#8377 {{ bankaccount.investment }} <br/></div></a>
    <div class="col-6 ">
    Last Investment &#8377 {{ bankaccount.lastcredit }} <br/></div></div>

    <div class="row"><div class="col-6 ">
    Times Invested {{ bankaccount.investno }}<br/></div>

    <div class="col-6 ">
       Invest Or Not  :{%if bankaccount.shouldinvest %}Yes {% else %}No {% endif %} <br/></div></div>
<div class="row"><div class="col-6 ">
    Last Investment Date {{ bankaccount.invest_date }}<br/></div>

    <div class="col-6 ">
       {% if bankaccount.loan_date %} Loan  &#8377 {{ bankaccount.loan }} <br/>
    Loan Date {{ bankaccount.loan_date }}{% endif %}</div></div>

<div class="row">
    <div class="col col-6">
    Last Debit &#8377 {{ bankaccount.lastdebit }} <br/></div>

    <div class="col col-6">
    Last Returned &#8377 {{ bankaccount.lastreturn }} <br/></div>
</div>

<div class="row"><div class="col col-12  "><d><hr/></d></div></div>{% endif %}{% endif %}
{% endfor %}

<a href="{% url 'bank:bankdetails' 1 %}">Bank Balance &#8377 {{ bank }}</a><br/>
<a href="{% url 'bank:invest' bankaccount.id %}" class="btn btn-primary">+Invest</a>
<a href="{% url 'bank:credit' bankaccount.id %}" class="btn btn-primary">Credit</a>
<a href="{% url 'bank:loan' bankaccount.id %}" class="btn btn-primary">Take Loan</a>
<a href="{% url 'bank:debit' bankaccount.id %}" class="btn btn-primary">-Debit</a>{% endif %}
{% endblock %}

