{% url 'profile:profile-page' as profile_url%}
{% url 'accounts:login' as login_url%}
{% url 'accounts:logout' as logout_url%}
{% url 'accounts:register' as register_url%}
{% url 'profile:confirm-profile' as confirm_profile_url %}
{% url 'accounts:change_password' as change_password_url %}

<nav class="navbar navbar-expand-md mb-3 navbar-dark bg-dark"><div class="container">


    <a class="navbar-brand" href="{{ home_url }}"><img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">{% if brand_name %} CBT<!--{{ brand_name }}--> {% else %}Recliba {% endif %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %}active{% endif %}">

          <!-- Perfect example
          We can use active only when home page is there
          for that
          <li class="nav-item {% if request.path == home_url %}active{% endif %}">-->

        <!--<a class="nav-link " href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
        {% if request.user.is_staff == False and request.user.is_authenticated %}
      <li class="nav-item {% if request.path == profile_url %}active{% endif %}">
        <a class="nav-link" href="{{ profile_url }}">Profile</a>
      </li>{% endif %}

        {{ request.object  }}
        {% if request.user.is_librarian %}
<!--<li class="nav-item {% if request.path == email_url %}active{% endif %}">-->
        <!--<a class="nav-link" href="{% url 'mails:sendmail' %}">Send Email</a>-->
      <!--</li>-->



        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile:confirm-profile' %}">Pending Requests</a>
             <a class="dropdown-item" href="{% url 'mails:sendmail' %}">Send EMail</a>

        </div>

       {% endif %}
        {% if request.user.is_authenticated %}

<li class="nav-item">
        <a class="nav-link" href="{{ logout_url }}">Log0ut</a>
      </li>
         <li class="nav-item {% if request.path == change_password_url %}active{% endif %}">
        <a class="nav-link" href="{{ change_password_url }}"> Change Password</a>
      </li>
{% else %}
        <li class="nav-item {% if request.path == login_url %}active{% endif %}">
        <a class="nav-link" href="{{ login_url }}"> Login</a>
      </li>
<li class="nav-item {% if request.path == register_url %}active{% endif %}">
        <a class="nav-link" href="{{ register_url }}">Register</a>
      </li>
        {% endif %}
    </ul>
  </div>
    </div>

</nav>